.button-store {
  display: inline-block;
  text-align: center;
  width: 210px;
  height: 60px;
  line-height: 60px;
  border: none;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  background-color: #252c41;
  color: #fff;
  margin-right: 40px;
}