.button-store {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 210px;
  height: 60px;
  line-height: 60px;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  background-color: #252c41;
  color: #fff;
  margin-right: 35px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button-store:hover,
.button-store:focus {
  background-color: #fff;
  color: #e24647;
}

.button-store:active {
  transform: scale(0.95);
}

.button-store.-second {
  background-color: transparent;
  border: 2px solid #fff;
  line-height: 56px;
}

.button-store.-second:hover,
.button-store.-second:focus {
  background-color: #fff;
  color: #e24647;
}

.button-store > button,
.button-store > a {
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: inherit;
  text-decoration: inherit;
}
