.container-store {
  width: 85%;
  background-color: #e24647;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  padding: 55px 60px 195px 0;
}
