.container-store {
  box-sizing: border-box;
  width: 85%;
  max-width: 1330px;
  background-color: #e24647;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 55px 60px 195px 0;
}

@media (max-width: 1470px), (max-height: 950px) {
  .container-store {
    position: static;
    transform: none;
    width: 100%;
  }
}

@media (max-width: 1235px) {
  .container-store {
    padding: 55px 0 195px;
  }
}

@media (max-height: 950px) {
  .container-store {
    max-width: 1330px;
    margin: 0 auto;
  }
}

@media (max-width: 620px) {
  .container-store {
    padding-bottom: 270px;
  }
}
