.header-store {
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
  float: left;
}

.navigation {
  margin-left: auto;
  font-size: 21px;
  float: right;
}

.action{
  font-family: "Segoe UI", "Roboto", Verdana, sans-serif;
  color: inherit;
  margin-left: 60px;
}