.product-description {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
}

.product-description > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.product-description > .item {
  font-size: 20px;
  margin-bottom: 30px;
}

.product-description > .item.-star {
  margin-bottom: 10px;
}

.product-description > .item.-star [src] {
  cursor: pointer;
  margin-right: 5px;
}

.product-description > .item.-star + .item {
  margin-left: 7px;
}

.product-description > .item.-info {
  width: 200px;
  text-align: right;
}

.product-description > .item.-last {
  margin-bottom: 70px;
}

.product-description .highlight {
  text-transform: uppercase;
  float: left;
}

.product-description > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.product-description > .text.-last {
  margin-bottom: 0px;
}

.product-description .action {
  color: inherit;
}
