.product-description {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
}

.product-description > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.product-description > .item {
  font-size: 20px;
  margin-bottom: 30px;
}

.product-description .icon {
  transition: transform 0.1s;
}

.product-description .icon.-active {
  display: none;
}

.product-description .-active .icon {
  display: none;
}

.product-description .-active .icon.-active {
  display: block;
}

.product-description .icon:hover {
  transform: scale(1.2);
  transition: none;
}

.product-description > .item.-favorite {
  position: absolute;
  top: 8px;
  left: -47px;
  transform: translateX(calc(-100%));
  cursor: pointer;
}

.product-description > .item.-star {
  margin-bottom: 10px;
}

.product-description > .item.-star [src] {
  cursor: pointer;
  margin-right: 5px;
}

.product-description > .item.-star + .item {
  margin-left: 7px;
}

.product-description .star {
  display: inline-block;
}

.product-description > .item.-info {
  width: 200px;
  text-align: right;
}

.product-description > .item.-last {
  margin-bottom: 70px;
}

.product-description .highlight {
  text-transform: uppercase;
  float: left;
}

.product-description > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.product-description > .text.-last {
  margin-bottom: 0px;
}

.product-description .action {
  color: inherit;
}

@media (max-width: 1024px) {
  .product-description > .title {
    font-size: 32px;
  }
  .product-description > .item.-favorite {
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e24647;
    padding: 20px;
    border-radius: 50px;
  }

  .product-description > .item.-info {
    margin-left: auto;
    margin-right: auto;
  }

  .product-description > .item.-last {
    margin-bottom: 50px;
  }
}

@media (max-width: 380px) {
  .product-description > .title {
    font-size: 26px;
  }
}
