.wrap-product {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.wrap-product > .favorite {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 47px));
  cursor: pointer;
}

.wrap-product > .buttons {
  position: absolute;
  margin-top: 70px;
}
