.wrap-product {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.wrap-product > .buttons {
  position: absolute;
  margin-top: 70px;
  width: 100%;
}

@media (max-width: 1024px) {
  .wrap-product {
    box-sizing: border-box;
    display: block;
    width: 80%;
    text-align: center;
    margin: 50px auto 0;
  }

  .buttons {
    margin-top: 50px;
  }
}
