header {
  background-color: #e24647;
  align-items: center;
  padding: 10px;
  color: #fff;
  overflow: hidden;
  margin: 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
  float: left;
}

nav {
  margin-left: auto;
  font-size: 21px;
  float: right;
}

a{
  font-family: "Segoe UI", "Roboto", Verdana, sans-serif;
  text-decoration: none;
  color: inherit;
}