header {
  background-color: #e24647;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
}

h1 {
  font-size: 40px;
}

nav {
  margin-left: auto;
  font-size: 21px;
}

a{
  font-family: 'Segoe UI', Verdana, sans-serif;
  text-decoration: none;
  color: inherit;
}