header {
  background-color: #e24647;
  align-items: center;
  padding: 10px;
  color: #fff;
  overflow: hidden;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  margin-left: auto;
  font-size: 21px;
  float: left;
}

a{
  font-family: "Segoe UI", "Roboto", Verdana, sans-serif;
  text-decoration: none;
  color: inherit;
}